@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-main: #121212;
  --color-background: #151616;
  --color-border: #27272a;
  --color-primary: #d17557;
  --color-secondary: #ff2056;
  --color-theme-800: #292524;
  --color-theme-600: #292524;
  --color-theme-500: #78716c;
  --color-theme-400: #a8a29e;
  --color-theme-200: #e7e5e4;
  --color-theme-100: #f5f5f4;
}

@theme {
  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes shimmer {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: color-mix(in srgb, var(--color-border) 50%, transparent);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-primary);
  }
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--color-main);
}

.auth-landing {
  background:
    linear-gradient(
      to top,
      var(--color-main) 40%,
      color-mix(in srgb, var(--color-main) 82%, transparent) 100%
    ),
    url("../assets/hero.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.hero-landing {
  background:
    linear-gradient(
      to top,
      var(--color-main) 40%,
      color-mix(in srgb, var(--color-main) 82%, transparent) 100%
    ),
    url("../assets/hero.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

input,
textarea,
select {
  font-size: 16px !important;
}

@keyframes progress-indeterminate {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(300%);
  }
}

.animate-progress-indeterminate {
  animation: progress-indeterminate 1.2s infinite linear;
}

button {
  cursor: pointer;
}

@keyframes card-enter {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-hidden {
  opacity: 0;
  transform: translateY(32px);
}

.scroll-visible {
  animation: card-enter 0.5s ease-out forwards;
}
