NODE_ENV=Value to be set in development or production
PLATFORM_NAME=Name to identify the platform
AUTH_DATABASE_URI=MongoDB connection string for the authentication database
PLATFORM_DATABASE_URI=MongoDB connection string for the platform database
APPS_DATABASE_URI=MongoDB connection string for the applications database
REDIS_URI=Redis connection string
AI_MODEL_API_KEY=Azure OpenAI API Key
AI_MODEL_DEPLOYMENT_URI=Azure OpenAI Deployment URI
AI_MODEL_MODEL_NAME=Azure OpenAI Model Name (e.g., gpt-4-32k)
NEWS_API_URI=Go to https://newsapi.org/ to get your API key and set the URI accordingly
JWT_SECRET_ACCESS_TOKEN=Should be a long random string for signing access tokens
JWT_SECRET_REFRESH_TOKEN=Should be a long random string for signing refresh tokens
GOOGLE_OAUTH_CLIENT_ID=Go to Google Developer Console to create a project and get your Google OAuth Client ID
GOOGLE_OAUTH_CLIENT_SECRET=Go to Google Developer Console to create a project and get your Google OAuth Client Secret
GOOGLE_OAUTH_REDIRECT_URI=Should be postmessage
UI_URL=Should be the URL where your frontend application is hosted