NODE_ENV=Value to be set in development or production
PLATFORM_NAME=Name to identify the platform
AZURE_COSMOS_DB_CONNECTION_STRING=Azure CosmosDB connection string
AZURE_APP_CONFIG_CONNECTION_STRING=Azure App config connection string
AZURE_OPENAI_API_KEY=Azure OpenAI API Key
AZURE_OPENAI_DEPLOYMENT_URI=Azure OpenAI Deployment URI
AZURE_OPENAI_MODEL_NAME=Azure OpenAI Model Name (e.g., gpt-4-32k)
NEWS_API_URI=Go to https://newsapi.org/ to get your API key and set the URI accordingly
JWT_SECRET_ACCESS_TOKEN=Should be a long random string for signing access tokens
JWT_SECRET_REFRESH_TOKEN=Should be a long random string for signing refresh tokens
GOOGLE_OAUTH_CLIENT_ID=Go to Google Developer Console to create a project and get your Google OAuth Client ID
GOOGLE_OAUTH_CLIENT_SECRET=Go to Google Developer Console to create a project and get your Google OAuth Client Secret
GOOGLE_OAUTH_REDIRECT_URI=Should be postmessage
UI_URL=Should be the URL where your frontend application is hosted